.navigation{
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding: 20px 60px 10px;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
}

.navigation ul li a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}

.navigation img{
    width: 150px;
    height: 54.72px;
}

.navigation button{
  border-radius:30px;
  color:#FF0000;
}
